<%provide(:title, "Contact")%>

<!DOCTYPE >>
<html>
	<body>
		<head>Contact</head>
		<p>This is the contact for the sample app. 
			<a href="namlee1511@gmail.com"> <em>Nam</em> </a></p>
	</body>
</html>
